In [47]:
import warnings
warnings.filterwarnings('ignore')

In [48]:
pip install numpy

Requirement already satisfied: numpy in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (1.26.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [49]:
pip install pandas

Requirement already satisfied: pandas in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [50]:
import numpy as np
import pandas as pd

# Creating A Content Based Recommender System Of Kaggle Dataset

In [51]:
# now importing the csv files of kaggle dataset into variable using pandas library
movies=pd.read_csv("tmdb_5000_movies.csv")#this file represents the data related movie theme and history
credits=pd.read_csv("tmdb_5000_credits.csv")# this file represents the cast or actor who acted in this movie

In [52]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [53]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [54]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [55]:
# movies data rows and column
movies.shape

(4803, 20)

In [56]:
# credits data roes and column
credits.shape

(4803, 4)

In [57]:
movies=movies.merge(credits,on='title') #merging both the datasets for better and non-hectic process in future

In [58]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [59]:
# movies available in different type of languages in dataset
movies["original_language"].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [60]:
# movies available in different type of languages in dataset
movies=movies[movies["original_language"]=='en']
movies["original_language"].value_counts()

original_language
en    4510
Name: count, dtype: int64

In [61]:
# To see number of columns and it's data type
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4510 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4510 non-null   int64
 1   genres                4510 non-null   object
 2   homepage              1611 non-null   object
 3   id                    4510 non-null   int64
 4   keywords              4510 non-null   object
 5   original_language     4510 non-null   object
 6   original_title        4510 non-null   object
 7   overview              4509 non-null   object
 8   popularity            4510 non-null   float64
 9   production_companies  4510 non-null   object
 10  production_countries  4510 non-null   object
 11  release_date          4509 non-null   object
 12  revenue               4510 non-null   int64
 13  runtime               4509 non-null   float64
 14  spoken_languages      4510 non-null   object
 15  status                4510 non-null   object
 16  tagline               3794 non-null   object
 17  title                 4510 non-null   object
 18  vote_average          4510 non-null   float64
 19  vote_count            4510 non-null   int64
 20  movie_id              4510 non-null   int64
 21  cast                  4510 non-null   object
 22  crew                  4510 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 845.6+ KB

In [62]:
# Now I will remove those column which is not recommended for data analysis for recommendation
# Those column which I put on database is given below
# genres
# id
# keywords
# title
# overview
# cast
# crew
# this variable is getting updated after doing filtering for recommendation
movies=movies[["movie_id","title","overview","genres","keywords","cast","crew"]]

In [63]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [64]:
movies.isnull().sum() #findind those column rows whose data is empty

movie_id    0
title       0
overview    1
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [65]:
movies.dropna(inplace=True)#removing the empty column row in the dataset that is overview is showing three

In [66]:
movies.isnull().sum() #findind those column rows whose data is empty

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [67]:
# code to check duplicate data is their or not using below code
movies.duplicated().sum()

0

In [68]:
movies.iloc[0].genres #mining first row with genres column data

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [69]:
# I will convert these string in the above data into integer for fetch purpose using one library
import ast

In [70]:
# creating a function to convert the above data into single array which value of name key
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i["name"])
    return l

In [71]:
# Implementing the function on dataset to seperate the generes data into list on all the rows
movies["genres"]=movies["genres"].apply(convert)

In [72]:
movies["genres"]

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4803                              [Foreign, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4509, dtype: object

In [73]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [74]:
# The same process will be done to keywords column using the same above steps
# Implementing the function on dataset to seperate the keywords data into list on all the rows
movies["keywords"]=movies["keywords"].apply(convert)
movies["genres"]

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4803                              [Foreign, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4509, dtype: object

In [75]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [76]:
# creating a function to convert the above data into single array which value of name key
# In cast column I will fetch those actor which are in the first top 3 that I will show
def convert3(obj):
    l=[]
    count=0
    for i in ast.literal_eval(obj):
        if(count<3):
            l.append(i["name"])
            count=count+1
        else:
            break
    return l

In [77]:
# Selecting the cast column from dataset for filtering the top 3 actors in every movie 
movies["cast"]=movies["cast"].apply(convert3)
movies["cast"]

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4803                                                   []
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4509, dtype: object

In [78]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [79]:
# now I will do filtering in crew column
# let just see the column before filtering
movies["crew"][0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [80]:
# Now I will filter that data from crew column whose job role is director with the director name

# creating a function to convert the above data into single array which value of name key with director name
# In crew column I will fetch those director name who the directed the movie
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if (i["job"]=="Director"):
            l.append(i["name"])
            break
    return l

In [81]:
movies["crew"]=movies["crew"].apply(fetch_director)
movies["crew"]

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4803     [Neill Dela Llana]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4509, dtype: object

In [82]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [41]:
import pickle

In [83]:
family_movies=movies[movies['genres'].apply(lambda x:'family' in ' '.join(x).lower())]

pickle.dump(family_movies['movie_id'],open("family_movie_id2.pkl","wb"))#wb stands for write binary mode

In [84]:
family_movies

,movie_id,title,overview,genres,keywords,cast,crew
6,38757,Tangled,When the kingdom's most wanted-and most charmi...,"[Animation, Family]","[hostage, magic, horse, fairy tale, musical, p...","[Zachary Levi, Mandy Moore, Donna Murphy]",[Byron Howard]
8,767,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...","[Adventure, Fantasy, Family]","[witch, magic, broom, school of witchcraft, wi...","[Daniel Radcliffe, Rupert Grint, Emma Watson]",[David Yates]
15,2454,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,"[Adventure, Family, Fantasy]","[based on novel, fictional place, brother sist...","[Ben Barnes, William Moseley, Anna Popplewell]",[Andrew Adamson]
32,12155,Alice in Wonderland,"Alice, an unpretentious and individual 19-year...","[Family, Fantasy, Adventure]","[based on novel, fictional place, queen, fanta...","[Mia Wasikowska, Johnny Depp, Anne Hathaway]",[Tim Burton]
34,62211,Monsters University,A look at the relationship between Mike and Su...,"[Animation, Family]","[monster, dormitory, games, animation, best fr...","[Billy Crystal, John Goodman, Steve Buscemi]",[Dan Scanlon]
...,...,...,...,...,...,...,...
4696,25786,Samantha: An American Girl Holiday,Kindhearted Samantha Parkington's world starts...,"[Drama, Family]",[],"[Mia Farrow, AnnaSophia Robb, Olivia Ballantyne]",[Nadia Tass]
4715,13187,A Charlie Brown Christmas,When Charlie Brown complains about the overwhe...,"[Animation, Family, Comedy, TV Movie]","[holiday, christmas]","[Ann Altieri, Chris Doran, Sally Dryer]",[Bill Melendez]
4735,272726,Dude Where's My Dog?,"Left home alone with his dog Harry, young Ray ...",[Family],[],"[Gabriela Castillo, Trish Cook, Alexander G. E...",[Stephen Langford]
4760,84659,The Naked Ape,The Naked Ape is a coming-of-age film followin...,"[Drama, Comedy, Family]",[],"[Josh Wise, Chelse Swain, Sean Shanks]",[Daniel Mellitz]
4788,17345,Flywheel,"Jay Austin wants to sell you a used car, but w...","[Drama, Family]","[christianity, father son relationship, georgi...",[Alex Kendrick],[Alex Kendrick]

In [85]:
family_movies['movie_id']

6        38757
8          767
15        2454
32       12155
34       62211
         ...
4696     25786
4715     13187
4735    272726
4760     84659
4788     17345
Name: movie_id, Length: 496, dtype: int64

In [86]:
# Converting overview row data into list for after concatenation
movies["overview"][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [87]:
movies["overview"]=movies["overview"].apply(lambda x:x.split())
movies["overview"]

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4803    [Adam,, a, security, guard,, travels, from, Ca...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4509, dtype: object

In [88]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [89]:
# Now I have to convert the cast data by removing whitespace
# example
# befor:-Sam Worthington
# after:-SamWorthington
# I am doing this filtering for not recommending the same name of different movie 
# If their is one sam in cast and another sam in crew the machine will get confuse and this will recommend wring movies
# so we are joining the first name and last name by removing same to find the person easily
movies["genres"]=movies["genres"].apply(lambda x:[i.replace(" ","") for i in x])#list comprehension for filtering
movies["keywords"]=movies["keywords"].apply(lambda x:[i.replace(" ","") for i in x])#list comprehension for filtering
movies["cast"]=movies["cast"].apply(lambda x:[i.replace(" ","") for i in x])#list comprehension for filtering
movies["crew"]=movies["crew"].apply(lambda x:[i.replace(" ","") for i in x])#list comprehension for filtering

In [90]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [91]:
# Now I will create a tag column which will cancatenate all 4 list columns in one tags columns
movies["tags"]=movies["overview"]+movies["genres"]+movies["keywords"]+movies["cast"]+movies["crew"]
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [92]:
# Now removing the list column because I have cancatenate them in one column that is tags
# creating a new data frame which will have 3 column that is title and tags for recommendation analysis
new_df=movies[["movie_id","title","tags"]]
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [93]:
#Now I will convert the the tags list into string by using list comprehension method
new_df["tags"]=new_df["tags"].apply(lambda x:" ".join(x))
new_df["tags"]

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4803    Adam, a security guard, travels from Californi...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4509, dtype: object

In [95]:
new_df["tags"][0]# particular first row tags column converted into string

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [96]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [97]:
# converting the tags data into lowercase due to some case-sensitive reason
new_df["tags"]=new_df["tags"].apply(lambda x:x.lower())
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

# Text Vectorization Process Will Be Done After Filtering All the Dataset

# whichever the strings in tags who are having the closest vector rate they can be considered as similar type of movie which can be recommended
# For converting text into vectors their are many methods like:-1)Bag Of Words,2)tfidf,3)word to vec
# But I will use bag of words which is more simpler compare to other vector methods
# In this method I will seperate those tags in which the maximum times particular word is repeated
# Finding the 5000 words which is repeated maximum times

In [98]:
# Now I have to identify the similarity between the first two columns of tags using some concept
new_df["tags"][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [99]:
new_df["tags"][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"

In [100]:
pip install -U scikit-learn

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: scikit-learn in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.2.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [101]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words="english")

In [102]:
vectors=cv.fit_transform(new_df["tags"]).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [103]:
vectors.shape

(4509, 5000)

In [104]:
# showing the first movie data in vector form that is avatar
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [105]:
# list of 5000 words which is reapeated maximum times in alphabetical order
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [106]:
len(cv.get_feature_names_out())

5000

In [107]:
# Applying steming method which convert the singular and plural words into one word
# example
# Before:-["loved","loving","love"]
# After:-["Love","love","love"]
!pip install nltk

Requirement already satisfied: nltk in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\nsti\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [108]:
import nltk # it is a natural laguage processing library in python

In [109]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [110]:
# creating function with help of library which will convert the plural word into singular
# example
ps.stem("loving")

'love'

In [111]:
ps.stem("loved")

'love'

In [112]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y) #converting list into string again after doing changes

In [113]:
# applying stem function in dataframe
new_df["tags"]=new_df["tags"].apply(stem)
new_df["tags"]

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4803    adam, a secur guard, travel from california to...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4509, dtype: object

In [114]:
# After using steming let see the changes in 5000 words
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

# Creating a method to calculate the cosine distance between every movie which get compared

In [115]:
from sklearn.metrics.pairwise import cosine_similarity

In [116]:
similarity=cosine_similarity(vectors)#this will check the 4806 times similarity between every single movie
similarity

array([[1.        , 0.08858079, 0.05812382, ..., 0.02450715, 0.02739983,
        0.        ],
       [0.08858079, 1.        , 0.06350006, ..., 0.02677398, 0.        ,
        0.        ],
       [0.05812382, 0.06350006, 1.        , ..., 0.02635231, 0.        ,
        0.        ],
       ...,
       [0.02450715, 0.02677398, 0.02635231, ..., 1.        , 0.0745356 ,
        0.04901431],
       [0.02739983, 0.        , 0.        , ..., 0.0745356 , 1.        ,
        0.05479966],
       [0.        , 0.        , 0.        , ..., 0.04901431, 0.05479966,
        1.        ]])

In [117]:
similarity.shape

(4509, 4509)

In [118]:
similarity[0] #this represents the 1st movie similarity relation with all other 4806 movies including itself which will count 1
# that is why the first one in the array is 1

array([1.        , 0.08858079, 0.05812382, ..., 0.02450715, 0.02739983,
       0.        ])

In [119]:
similarity[0].shape

(4509,)

In [120]:
sorted(similarity[0],reverse=True)  # sorted in nearest similar movie descending form

[0.9999999999999998,
 0.2537477434955704,
 0.25112360116696136,
 0.24609055357847553,
 0.24260844762468367,
 0.24012009007506568,
 0.23923566684866998,
 0.2372894989381248,
 0.23692415692169538,
 0.23485569615051038,
 0.23394386020951635,
 0.23394386020951635,
 0.22056438662814232,
 0.22056438662814232,
 0.21775177815467112,
 0.21621621621621623,
 0.21582051197002577,
 0.21369687880543226,
 0.21369687880543226,
 0.2113701265354594,
 0.21049133398705727,
 0.21029989116983447,
 0.21029989116983447,
 0.20668850837512243,
 0.2056773510573183,
 0.20567735105731827,
 0.20343336780168372,
 0.19936305570722498,
 0.19727878476642874,
 0.1934477640657483,
 0.1934477640657483,
 0.191014361990104,
 0.19101436199010396,
 0.18983159915049982,
 0.1898315991504998,
 0.18857857160117855,
 0.18668326147193276,
 0.18668326147193276,
 0.18668326147193276,
 0.18641092980036,
 0.18641092980036,
 0.18416370220645234,
 0.18380365552345193,
 0.18380365552345193,
 0.1835206628143918,
 0.18316875326179907,
 0.1823843010350213,
 0.17972365808708385,
 0.17757120130114434,
 0.17757120130114434,
 0.17684493567566834,
 0.1754942736973651,
 0.1752499093081954,
 0.17348855898381338,
 0.17170914210964275,
 0.17139779254776524,
 0.17139779254776524,
 0.1696751579473019,
 0.16916516233038026,
 0.16839306718964578,
 0.16673100431301852,
 0.16673100431301852,
 0.16673100431301852,
 0.1643989873053573,
 0.1643989873053573,
 0.1643989873053573,
 0.1643989873053573,
 0.16120647005479025,
 0.15819299929208316,
 0.15819299929208316,
 0.15807356326200073,
 0.15794943794779692,
 0.15794943794779692,
 0.1559625734730109,
 0.1553424415003,
 0.1553424415003,
 0.15404884978892902,
 0.1526406277181659,
 0.1526406277181659,
 0.1522038868295523,
 0.15110651212172094,
 0.15007505629691606,
 0.15007505629691606,
 0.1487044791289829,
 0.1487044791289829,
 0.14763464883937316,
 0.14763464883937316,
 0.14704292441876157,
 0.14704292441876154,
 0.14704292441876154,
 0.1461508458653816,
 0.1454358496691159,
 0.14349920066683505,
 0.14349920066683505,
 0.1427382933000825,
 0.14237369936287486,
 0.14097096860865022,
 0.14097096860865022,
 0.14019992744655632,
 0.14019992744655632,
 0.14019992744655632,
 0.1389425035941821,
 0.1389425035941821,
 0.1389425035941821,
 0.13812277665483924,
 0.1371182340382122,
 0.1371182340382122,
 0.1371182340382122,
 0.1371182340382122,
 0.13699915608779772,
 0.13699915608779772,
 0.13678822577626598,
 0.13678822577626595,
 0.1354916256531435,
 0.13513513513513514,
 0.1342312110428049,
 0.1342312110428049,
 0.13334518676566626,
 0.13334518676566626,
 0.13334518676566626,
 0.132005000120825,
 0.13200500012082497,
 0.1316245316231641,
 0.1316245316231641,
 0.13151918984428584,
 0.13151918984428584,
 0.13151918984428584,
 0.13151918984428584,
 0.13065106689280268,
 0.12996881122750908,
 0.12996881122750908,
 0.1289651760438322,
 0.1289651760438322,
 0.1289651760438322,
 0.1289651760438322,
 0.1289651760438322,
 0.1289651760438322,
 0.1283740414907742,
 0.1283740414907742,
 0.12683657235796025,
 0.12683657235796025,
 0.12683657235796025,
 0.12655439943366653,
 0.12535305264097507,
 0.12535305264097507,
 0.12535305264097507,
 0.12535305264097507,
 0.1252721535988985,
 0.12527215359889848,
 0.12427395320024,
 0.12392039927415242,
 0.12392039927415242,
 0.12392039927415242,
 0.12329924047901797,
 0.12253577034896798,
 0.12253577034896797,
 0.12253577034896797,
 0.1221125021745327,
 0.1221125021745327,
 0.1221125021745327,
 0.1221125021745327,
 0.12119654139092992,
 0.12119654139092992,
 0.1211965413909299,
 0.12006004503753284,
 0.12006004503753284,
 0.12006004503753284,
 0.11990028442779209,
 0.11990028442779209,
 0.11961783342433499,
 0.11961783342433499,
 0.11961783342433499,
 0.1186447494690624,
 0.1186447494690624,
 0.1186447494690624,
 0.11810771907149853,
 0.11810771907149853,
 0.11789662378377888,
 0.11742784807525519,
 0.1162476387438193,
 0.1162476387438193,
 0.1162476387438193,
 0.1162476387438193,
 0.1162476387438193,
 0.11624763874381927,
 0.11624763874381927,
 0.11624763874381927,
 0.11624763874381927,
 0.11624763874381927,
 0.11624763874381927,
 0.11510231387903269,
 0.1144727614064285,
 0.1144727614064285,
 0.1144727614064285,
 0.1144727614064285,
 0.11389895949029986,
 0.11314714296070713,
 0.11314714296070713,
 0.11314714296070713,
 0.11314714296070713,
 0.11314714296070713,
 0.11290968804428622,
 0.11277677488692017,
 0.11277677488692017,
 0.11277677488692017,
 0.11277677488692017,
 0.11277677488692017,
 0.11277677488692017,
 0.11185934253567072,
 0.11185934253567072,
 0.11115400287534567,
 0.11115400287534567,
 0.11115400287534567,
 0.11083777463036817,
 0.11028219331407116,
 0.11028219331407116,
 0.11028219331407116,
 0.11028219331407116,
 0.11028219331407116,
 0.11028219331407116,
 0.1098436937909367,
 0.1098436937909367,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10959932487023819,
 0.10887588907733556,
 0.10887588907733556,
 0.10887588907733556,
 0.10810810810810811,
 0.10810810810810811,
 0.10810810810810811,
 0.10810810810810811,
 0.10810810810810811,
 0.10810810810810811,
 0.10793322294408637,
 0.1076244005001263,
 0.1076244005001263,
 0.1076244005001263,
 0.10762440050012628,
 0.10762440050012628,
 0.106676149412533,
 0.106676149412533,
 0.1061190899945022,
 0.1061190899945022,
 0.10529962529853128,
 0.10529962529853128,
 0.10514994558491725,
 0.10514994558491725,
 0.10514994558491725,
 0.10514994558491725,
 0.10514994558491725,
 0.10514994558491725,
 0.10514994558491725,
 0.10514994558491725,
 0.10514994558491725,
 0.10439346133241541,
 0.10397504898200727,
 0.10397504898200727,
 0.10397504898200727,
 0.10397504898200727,
 0.10340217933878712,
 0.10283867552865915,
 0.10283867552865913,
 0.10283867552865913,
 0.10283867552865913,
 0.10283867552865913,
 0.10283867552865913,
 0.10283867552865913,
 0.10283867552865913,
 0.10283867552865913,
 0.10269923319261937,
 0.10269923319261937,
 0.10269923319261937,
 0.10269923319261937,
 0.10269923319261937,
 0.1017387650221051,
 0.10146925788636821,
 0.10146925788636821,
 0.10146925788636821,
 0.10146925788636821,
 0.10146925788636821,
 0.10067340828210367,
 0.10067340828210367,
 0.10067340828210367,
 0.10067340828210367,
 0.10067340828210367,
 0.10067340828210367,
 0.10067340828210367,
 0.10067340828210367,
 0.10067340828210367,
 0.10028244211278005,
 0.10028244211278005,
 0.10028244211278005,
 0.10028244211278005,
 0.09913631941932194,
 0.09913631941932194,
 0.09913631941932194,
 0.09913631941932194,
 0.09913631941932194,
 0.09913631941932194,
 0.09913631941932194,
 0.09863939238321438,
 0.09863939238321438,
 0.09863939238321438,
 0.09863939238321438,
 0.09863939238321438,
 0.09863939238321438,
 0.09863939238321438,
 0.09802861627917438,
 0.09802861627917438,
 0.09755285137982107,
 0.09695723311274393,
 0.09695723311274393,
 0.09687303228651607,
 0.09672388203287416,
 0.09672388203287416,
 0.09672388203287416,
 0.09672388203287416,
 0.09672388203287416,
 0.09672388203287416,
 0.09672388203287416,
 0.09592022754223367,
 0.09592022754223367,
 0.09491579957524991,
 0.09491579957524991,
 0.09491579957524991,
 0.09491579957524991,
 0.09491579957524991,
 0.0949157995752499,
 0.0949157995752499,
 0.0949157995752499,
 0.0949157995752499,
 0.0949157995752499,
 0.0949157995752499,
 0.09491579957524988,
 0.09428928580058928,
 0.09394227846020416,
 0.09320546490018,
 0.09320546490018,
 0.09320546490018,
 0.09320546490018,
 0.09320546490018,
 0.09320546490018,
 0.09320546490018,
 0.09320546490018,
 0.09307259888124249,
 0.09299811099505542,
 0.09299811099505542,
 0.09299811099505542,
 0.09248165577087424,
 0.09208185110322616,
 0.09190182776172597,
 0.09158437663089954,
 0.09158437663089954,
 0.09158437663089952,
 0.09158437663089952,
 0.09158437663089952,
 0.09158437663089952,
 0.09158437663089952,
 0.09158437663089952,
 0.09158437663089952,
 0.09119215051751065,
 0.09119215051751065,
 0.09119215051751065,
 0.09119215051751065,
 0.09119215051751065,
 0.09119215051751065,
 0.09119215051751065,
 0.09032775043542898,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.09004503377814962,
 0.08948747402853657,
 0.08948747402853657,
 0.08948747402853657,
 0.08948747402853657,
 0.08948747402853657,
 0.08948747402853657,
 0.08867021970429453,
 0.08867021970429453,
 0.08867021970429453,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.0885807893036239,
 0.08787495503274936,
 0.08787495503274936,
 0.08787495503274936,
 0.08787495503274936,
 0.08787495503274936,
 0.08787495503274936,
 0.0876249546540977,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08718572905786445,
 0.08710071126186844,
 0.08710071126186844,
 0.08710071126186844,
 0.0863465783552691,
 0.0863465783552691,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08585457105482137,
 0.08561170049453902,
 0.08561170049453902,
 0.08561170049453902,
 0.08489527199560178,
 0.08489527199560176,
 0.08489527199560176,
 0.08489527199560176,
 0.08489527199560176,
 0.08489527199560176,
 0.08489527199560176,
 0.08489527199560176,
 0.08489527199560176,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08419653359482289,
 0.08419653359482288,
 0.08351476906593233,
 0.08351476906593233,
 0.08351476906593233,
 0.08351476906593233,
 0.08351476906593233,
 0.08351476906593233,
 0.08336550215650926,
 0.08336550215650926,
 0.08336550215650926,
 0.08336550215650926,
 0.08336550215650926,
 0.08284930213349333,
 0.08284930213349333,
 0.08284930213349333,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08219949365267865,
 0.08108108108108109,
 0.08108108108108109,
 0.08108108108108109,
 0.08108108108108109,
 0.08108108108108109,
 0.08108108108108109,
 0.08108108108108109,
 0.08108108108108109,
 0.08108108108108109,
 0.08108108108108109,
 0.08094446585163528,
 0.0803381317273391,
 0.08000711205939975,
 0.08000711205939975,
 0.08000711205939975,
 0.08000711205939975,
 0.08000711205939975,
 0.08000711205939975,
 0.08000711205939975,
 0.08000711205939975,
 0.07974522228289,
 0.07974522228289,
 0.07974522228289,
 0.07974522228289,
 0.07974522228289,
 0.07974522228289,
 0.07974522228289,
 0.07974522228289,
 0.07974522228289,
 0.07974522228289,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07897471897389846,
 0.07837414205275961,
 0.07804228110385686,
 0.07798128673650545,
 0.07798128673650545,
 0.07798128673650545,
 0.07798128673650545,
 0.07767122075015,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07749842582921286,
 0.07702442489446452,
 0.07702442489446452,
 0.07702442489446452,
 0.07702442489446452,
 0.07702442489446452,
 0.07702442489446452,
 0.07702442489446452,
 0.07702442489446452,
 0.07696578428840449,
 0.07696578428840449,
 0.07610194341477616,
 0.07610194341477616,
 0.07610194341477616,
 0.07610194341477616,
 0.07610194341477616,
 0.07610194341477616,
 0.07610194341477616,
 0.07610194341477615,
 0.07543142864047142,
 0.07543142864047142,
 0.07543142864047142,
 0.07543142864047142,
 0.07543142864047142,
 0.07543142864047142,
 0.07543142864047142,
 0.07543142864047142,
 0.07543142864047142,
 0.07521183158458504,
 0.07521183158458504,
 0.07521183158458504,
 0.07521183158458504,
 0.07521183158458504,
 0.07521183158458504,
 0.07521183158458504,
 0.07521183158458504,
 0.07521183158458504,
 0.07521183158458504,
 0.07521183158458504,
 0.074458079104994,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07435223956449145,
 0.07352146220938079,
 0.07352146220938079,
 0.07352146220938079,
 0.07352146220938079,
 0.07352146220938079,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07352146220938077,
 0.07271792483455794,
 0.07271792483455794,
 0.07271792483455794,
 0.07271792483455794,
 0.07271792483455794,
 0.07261932421315971,
 0.07194017065667525,
 0.07194017065667525,
 0.07194017065667525,
 0.07194017065667525,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07174960033341753,
 0.07118684968143743,
 0.07118684968143743,
 0.07118684968143743,
 0.07118684968143743,
 0.07118684968143743,
 0.07050168600188522,
 0.07045670884515312,
 0.07045670884515312,
 0.07045670884515312,
 0.07045670884515312,
 0.07045670884515312,
 0.07045670884515312,
 0.07009996372327816,
 0.07009996372327816,
 0.07009996372327816,
 0.07009996372327816,
 0.07009996372327816,
 0.07009996372327816,
 0.07009996372327816,
 0.07009996372327816,
 0.07009996372327816,
 0.07009996372327816,
 0.06974858324629157,
 0.06974858324629157,
 0.06974858324629157,
 0.06974858324629157,
 0.06974858324629157,
 0.06974858324629157,
 0.06974858324629157,
 0.06906138832741962,
 0.06906138832741962,
 0.06906138832741962,
 0.06906138832741962,
 0.06906138832741962,
 0.06906138832741962,
 0.06906138832741962,
 0.06906138832741962,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.0685591170191061,
 0.06839411288813299,
 0.06839411288813299,
 0.06839411288813299,
 0.06839411288813299,
 0.06779699969660707,
 0.06774581282657174,
 0.06774581282657174,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140244,
 0.06711560552140243,
 0.06711560552140243,
 0.06711560552140243,
 0.06711560552140243,
 0.06711560552140243,
 0.06650266477822091,
 0.06650266477822091,
 0.0665026647782209,
 0.0665026647782209,
 0.0665026647782209,
 0.0665026647782209,
 0.06590621627456203,
 0.06590621627456203,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06575959492214292,
 0.06532553344640132,
 0.06532553344640132,
 0.06532553344640132,
 0.06475993376645182,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.0644825880219161,
 0.06420877537090426,
 0.06420877537090426,
 0.06420877537090426,
 0.06420877537090426,
 0.06367145399670132,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06327719971683327,
 0.06314740019611717,
 0.06314740019611717,
 0.06314740019611717,
 0.06314740019611717,
 0.06263607679944924,
 0.06263607679944924,
 0.06263607679944924,
 0.06241624531779738,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.06213697660012,
 0.061649620239508984,
 0.061649620239508984,
 0.061649620239508984,
 0.06117355427146393,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06105625108726635,
 0.06070834938872646,
 0.06070834938872646,
 0.060281721830312406,
 0.06025359879550432,
 0.06025359879550432,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.06003002251876642,
 0.059808916712167495,
 0.05978144992922083,
 0.059293429929326937,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.059053859535749265,
 0.05894831189188945,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,
 0.058123819371909635,

In [121]:
list(enumerate(similarity[0]))

[(0, 0.9999999999999998),
 (1, 0.0885807893036239),
 (2, 0.058123819371909635),
 (3, 0.03902114055192843),
 (4, 0.17757120130114434),
 (5, 0.11510231387903269),
 (6, 0.022581937608857246),
 (7, 0.17348855898381338),
 (8, 0.06213697660012),
 (9, 0.07435223956449145),
 (10, 0.1144727614064285),
 (11, 0.07897471897389846),
 (12, 0.0949157995752499),
 (13, 0.04649905549752771),
 (14, 0.10959932487023819),
 (15, 0.04474373701426829),
 (16, 0.08000711205939975),
 (17, 0.1461508458653816),
 (18, 0.10887588907733556),
 (19, 0.08419653359482289),
 (20, 0.056573571480353566),
 (21, 0.09320546490018),
 (22, 0.0685591170191061),
 (23, 0.09320546490018),
 (24, 0.05479966243511909),
 (25, 0.05287626450141392),
 (26, 0.16673100431301852),
 (27, 0.18416370220645234),
 (28, 0.1221125021745327),
 (29, 0.06906138832741962),
 (30, 0.07118684968143743),
 (31, 0.1553424415003),
 (32, 0.08867021970429453),
 (33, 0.10283867552865913),
 (34, 0.0),
 (35, 0.10762440050012628),
 (36, 0.18668326147193276),
 (37, 0.08108108108108109),
 (38, 0.06117355427146393),
 (39, 0.08585457105482137),
 (40, 0.05479966243511909),
 (41, 0.14237369936287486),
 (42, 0.0),
 (43, 0.09491579957524991),
 (44, 0.03874921291460643),
 (45, 0.08867021970429453),
 (46, 0.17170914210964275),
 (47, 0.21049133398705727),
 (48, 0.06590621627456203),
 (49, 0.06213697660012),
 (50, 0.11810771907149853),
 (51, 0.08351476906593233),
 (52, 0.16673100431301852),
 (53, 0.050141221056390024),
 (54, 0.03355780276070122),
 (55, 0.07696578428840449),
 (56, 0.14019992744655632),
 (57, 0.028194193721730043),
 (58, 0.04604092555161308),
 (59, 0.07804228110385686),
 (60, 0.028194193721730043),
 (61, 0.22056438662814232),
 (62, 0.07974522228289),
 (63, 0.08284930213349333),
 (64, 0.030528125543633176),
 (65, 0.020391184757154644),
 (66, 0.024239308278185982),
 (67, 0.16916516233038026),
 (68, 0.1289651760438322),
 (69, 0.050600940624005594),
 (70, 0.07897471897389846),
 (71, 0.08108108108108109),
 (72, 0.12006004503753284),
 (73, 0.03587480016670876),
 (74, 0.22056438662814232),
 (75, 0.09004503377814962),
 (76, 0.07610194341477616),
 (77, 0.014418745018211812),
 (78, 0.05264981264926564),
 (79, 0.07610194341477616),
 (80, 0.03355780276070122),
 (81, 0.11389895949029986),
 (82, 0.08108108108108109),
 (83, 0.21582051197002577),
 (84, 0.1427382933000825),
 (85, 0.10340217933878712),
 (86, 0.08585457105482137),
 (87, 0.1144727614064285),
 (88, 0.09158437663089954),
 (89, 0.05978144992922083),
 (90, 0.06213697660012),
 (91, 0.1553424415003),
 (92, 0.06839411288813299),
 (93, 0.04956815970966097),
 (94, 0.16120647005479025),
 (95, 0.12253577034896798),
 (96, 0.0885807893036239),
 (97, 0.08718572905786445),
 (98, 0.028618190351607124),
 (99, 0.07174960033341753),
 (100, 0.08585457105482137),
 (101, 0.10887588907733556),
 (102, 0.08561170049453902),
 (103, 0.059053859535749265),
 (104, 0.10514994558491725),
 (105, 0.04355035563093422),
 (106, 0.08948747402853657),
 (107, 0.1643989873053573),
 (108, 0.07543142864047142),
 (109, 0.023980056885558418),
 (110, 0.15007505629691606),
 (111, 0.0885807893036239),
 (112, 0.05264981264926564),
 (113, 0.050734628943184104),
 (114, 0.05264981264926564),
 (115, 0.05479966243511909),
 (116, 0.059053859535749265),
 (117, 0.01723369655646452),
 (118, 0.04649905549752771),
 (119, 0.0),
 (120, 0.0885807893036239),
 (121, 0.0949157995752499),
 (122, 0.1186447494690624),
 (123, 0.06650266477822091),
 (124, 0.07767122075015),
 (125, 0.11277677488692017),
 (126, 0.13200500012082497),
 (127, 0.0),
 (128, 0.10529962529853128),
 (129, 0.03106848830006),
 (130, 0.10810810810810811),
 (131, 0.04433510985214727),
 (132, 0.03163859985841663),
 (133, 0.13151918984428584),
 (134, 0.0),
 (135, 0.023728949893812478),
 (136, 0.03338437626246901),
 (137, 0.08108108108108109),
 (138, 0.1061190899945022),
 (139, 0.04956815970966097),
 (140, 0.11028219331407116),
 (141, 0.0885807893036239),
 (142, 0.06711560552140243),
 (143, 0.05405405405405406),
 (144, 0.02196873875818734),
 (145, 0.01677890138035061),
 (146, 0.06003002251876642),
 (147, 0.10283867552865913),
 (148, 0.16839306718964578),
 (149, 0.1835206628143918),
 (150, 0.19936305570722498),
 (151, 0.06327719971683327),
 (152, 0.08351476906593233),
 (153, 0.03224129401095805),
 (154, 0.0),
 (155, 0.06475993376645182),
 (156, 0.10283867552865915),
 (157, 0.1487044791289829),
 (158, 0.06575959492214292),
 (159, 0.09428928580058928),
 (160, 0.03427955850955305),
 (161, 0.03587480016670876),
 (162, 0.051987524491003634),
 (163, 0.09004503377814962),
 (164, 0.047960113771116836),
 (165, 0.11624763874381927),
 (166, 0.06711560552140244),
 (167, 0.15404884978892902),
 (168, 0.11990028442779209),
 (169, 0.08948747402853657),
 (170, 0.029061909685954818),
 (171, 0.14704292441876154),
 (172, 0.023980056885558418),
 (173, 0.10810810810810811),
 (174, 0.050141221056390024),
 (175, 0.03001501125938321),
 (176, 0.0),
 (177, 0.025367314471592052),
 (178, 0.07543142864047142),
 (179, 0.022581937608857246),
 (180, 0.02279803762937766),
 (181, 0.10397504898200727),
 (182, 0.07261932421315971),
 (183, 0.1754942736973651),
 (184, 0.05405405405405406),
 (185, 0.03929887459459296),
 (186, 0.13699915608779772),
 (187, 0.022167554926073633),
 (188, 0.07974522228289),
 (189, 0.08094446585163528),
 (190, 0.050734628943184104),
 (191, 0.0),
 (192, 0.08489527199560176),
 (193, 0.0),
 (194, 0.06327719971683327),
 (195, 0.05723638070321425),
 (196, 0.047457899787624956),
 (197, 0.058123819371909635),
 (198, 0.11290968804428622),
 (199, 0.07543142864047142),
 (200, 0.0),
 (201, 0.03355780276070122),
 (202, 0.08585457105482137),
 (203, 0.02567480829815484),
 (204, 0.07749842582921286),
 (205, 0.09491579957524988),
 (206, 0.08219949365267865),
 (207, 0.1643989873053573),
 (208, 0.03504998186163908),
 (209, 0.050734628943184104),
 (210, 0.02632490632463282),
 (211, 0.07521183158458504),
 (212, 0.06367145399670132),
 (213, 0.029061909685954818),
 (214, 0.07045670884515312),
 (215, 0.06327719971683327),
 (216, 0.04433510985214727),
 (217, 0.04109974682633932),
 (218, 0.0644825880219161),
 (219, 0.18316875326179907),
 (220, 0.023980056885558418),
 (221, 0.08710071126186844),
 (222, 0.08000711205939975),
 (223, 0.061649620239508984),
 (224, 0.05134961659630968),
 (225, 0.029061909685954818),
 (226, 0.09004503377814962),
 (227, 0.12253577034896797),
 (228, 0.07749842582921286),
 (229, 0.08710071126186844),
 (230, 0.0),
 (231, 0.11624763874381927),
 (232, 0.10514994558491725),
 (233, 0.0665026647782209),
 (234, 0.09863939238321438),
 (235, 0.06711560552140244),
 (236, 0.11961783342433499),
 (237, 0.10439346133241541),
 (238, 0.050141221056390024),
 (239, 0.08336550215650926),
 (240, 0.09158437663089952),
 (241, 0.09695723311274393),
 (242, 0.06105625108726635),
 (243, 0.0885807893036239),
 (244, 0.06420877537090426),
 (245, 0.0),
 (246, 0.04559607525875532),
 (247, 0.14019992744655632),
 (248, 0.0),
 (249, 0.04109974682633932),
 (250, 0.022167554926073633),
 (251, 0.06420877537090426),
 (252, 0.08000711205939975),
 (253, 0.0),
 (254, 0.07974522228289),
 (255, 0.08336550215650926),
 (256, 0.02279803762937766),
 (257, 0.06213697660012),
 (258, 0.24012009007506568),
 (259, 0.024507154069793594),
 (260, 0.07271792483455794),
 (261, 0.10067340828210367),
 (262, 0.0),
 (263, 0.028618190351607124),
 (264, 0.10959932487023819),
 (265, 0.07174960033341753),
 (266, 0.02666903735313325),
 (267, 0.03224129401095805),
 (268, 0.09913631941932194),
 (269, 0.07702442489446452),
 (270, 0.03001501125938321),
 (271, 0.023249527748763855),
 (272, 0.07837414205275961),
 (273, 0.1221125021745327),
 (274, 0.06711560552140244),
 (275, 0.06532553344640132),
 (276, 0.12535305264097507),
 (277, 0.12392039927415242),
 (278, 0.0),
 (279, 0.07045670884515312),
 (280, 0.058123819371909635),
 (281, 0.0),
 (282, 0.01964943729729648),
 (283, 0.022167554926073633),
 (284, 0.02177517781546711),
 (285, 0.02632490632463282),
 (286, 0.0),
 (287, 0.04956815970966097),
 (288, 0.06327719971683327),
 (289, 0.05479966243511909),
 (290, 0.09863939238321438),
 (291, 0.03163859985841663),
 (292, 0.11624763874381927),
 (293, 0.106676149412533),
 (294, 0.04047223292581764),
 (295, 0.047457899787624956),
 (296, 0.0),
 (297, 0.04047223292581764),
 (298, 0.17757120130114434),
 (299, 0.17684493567566834),
 (300, 0.058123819371909635),
 (301, 0.029061909685954818),
 (302, 0.07009996372327816),
 (303, 0.18641092980036),
 (304, 0.09004503377814962),
 (305, 0.1017387650221051),
 (306, 0.0685591170191061),
 (307, 0.0644825880219161),
 (308, 0.034852515603774246),
 (309, 0.1522038868295523),
 (310, 0.10959932487023819),
 (311, 0.07749842582921286),
 (312, 0.0),
 (313, 0.09004503377814962),
 (314, 0.0),
 (315, 0.0),
 (316, 0.07009996372327816),
 (317, 0.03587480016670876),
 (318, 0.0),
 (319, 0.21621621621621623),
 (320, 0.03224129401095805),
 (321, 0.025367314471592052),
 (322, 0.10514994558491725),
 (323, 0.058123819371909635),
 (324, 0.029061909685954818),
 (325, 0.0),
 (326, 0.08108108108108109),
 (327, 0.10959932487023819),
 (328, 0.048478616556371965),
 (329, 0.1389425035941821),
 (330, 0.029061909685954818),
 (331, 0.10397504898200727),
 (332, 0.05479966243511909),
 (333, 0.07174960033341753),
 (334, 0.02348556961505104),
 (335, 0.0),
 (336, 0.055577001437672836),
 (337, 0.05134961659630968),
 (338, 0.06003002251876642),
 (339, 0.132005000120825),
 (340, 0.02196873875818734),
 (341, 0.030528125543633176),
 (342, 0.02302046277580654),
 (343, 0.0),
 (344, 0.0),
 (345, 0.06575959492214292),
 (346, 0.09004503377814962),
 (347, 0.051987524491003634),
 (348, 0.0),
 (349, 0.029061909685954818),
 (350, 0.02302046277580654),
 (351, 0.0),
 (352, 0.038482892144202245),
 (353, 0.0885807893036239),
 (354, 0.0),
 (355, 0.06327719971683327),
 (356, 0.03355780276070122),
 (357, 0.0),
 (358, 0.05479966243511909),
 (359, 0.0949157995752499),
 (360, 0.08787495503274936),
 (361, 0.025367314471592052),
 (362, 0.07897471897389846),
 (363, 0.05723638070321425),
 (364, 0.0),
 (365, 0.13151918984428584),
 (366, 0.0885807893036239),
 (367, 0.05479966243511909),
 (368, 0.09913631941932194),
 (369, 0.051987524491003634),
 (370, 0.1752499093081954),
 (371, 0.04317328917763455),
 (372, 0.041757384532966166),
 (373, 0.047960113771116836),
 (374, 0.0),
 (375, 0.0),
 (376, 0.052278773405661366),
 (377, 0.027788500718836418),
 (378, 0.08787495503274936),
 (379, 0.0),
 (380, 0.04956815970966097),
 (381, 0.03163859985841663),
 (382, 0.0),
 (383, 0.02302046277580654),
 (384, 0.027399831217559546),
 (385, 0.0),
 (386, 0.09672388203287416),
 (387, 0.027788500718836418),
 (388, 0.059808916712167495),
 (389, 0.030528125543633176),
 (390, 0.0),
 (391, 0.025367314471592052),
 (392, 0.055577001437672836),
 (393, 0.02302046277580654),
 (394, 0.05405405405405406),
 (395, 0.0),
 (396, 0.025070610528195012),
 (397, 0.10067340828210367),
 (398, 0.03106848830006),
 (399, 0.06105625108726635),
 (400, 0.10793322294408637),
 (401, 0.06575959492214292),
 (402, 0.029526929767874632),
 (403, 0.02122381799890044),
 (404, 0.02122381799890044),
 (405, 0.03587480016670876),
 (406, 0.0),
 (407, 0.09802861627917438),
 (408, 0.058123819371909635),
 (409, 0.09913631941932194),
 (410, 0.13513513513513514),
 (411, 0.030528125543633176),
 (412, 0.07696578428840449),
 (413, 0.05405405405405406),
 (414, 0.03287979746107146),
 (415, 0.036760731104690386),
 (416, 0.07435223956449145),
 (417, 0.12535305264097507),
 (418, 0.0),
 (419, 0.14349920066683505),
 (420, 0.050141221056390024),
 (421, 0.03902114055192843),
 (422, 0.06906138832741962),
 (423, 0.06025359879550432),
 (424, 0.03001501125938321),
 (425, 0.057724338216303364),
 (426, 0.0),
 (427, 0.05134961659630968),
 (428, 0.025070610528195012),
 (429, 0.1211965413909299),
 (430, 0.03224129401095805),
 (431, 0.0),
 (432, 0.03874921291460643),
 (433, 0.0),
 (434, 0.028194193721730043),
 (435, 0.027788500718836418),
 (436, 0.03001501125938321),
 (437, 0.027788500718836418),
 (438, 0.029526929767874632),
 (439, 0.047457899787624956),
 (440, 0.05723638070321425),
 (441, 0.0),
 (442, 0.027788500718836418),
 (443, 0.02567480829815484),
 (444, 0.023249527748763855),
 (445, 0.025070610528195012),
 (446, 0.05723638070321425),
 (447, 0.02567480829815484),
 (448, 0.025367314471592052),
 (449, 0.03106848830006),
 (450, 0.02666903735313325),
 (451, 0.12253577034896797),
 (452, 0.023980056885558418),
 (453, 0.06906138832741962),
 (454, 0.08585457105482137),
 (455, 0.04604092555161308),
 (456, 0.03504998186163908),
 (457, 0.027399831217559546),
 (458, 0.18380365552345193),
 (459, 0.0),
 (460, 0.03427955850955305),
 (461, 0.0),
 (462, 0.0),
 (463, 0.20567735105731827),
 (464, 0.08948747402853657),
 (465, 0.029526929767874632),
 (466, 0.06974858324629157),
 (467, 0.047960113771116836),
 (468, 0.08108108108108109),
 (469, 0.08219949365267865),
 (470, 0.10028244211278005),
 (471, 0.0665026647782209),
 (472, 0.10283867552865913),
 (473, 0.0),
 (474, 0.03929887459459296),
 (475, 0.09307259888124249),
 (476, 0.05134961659630968),
 (477, 0.0),
 (478, 0.029526929767874632),
 (479, 0.12655439943366653),
 (480, 0.03355780276070122),
 (481, 0.05479966243511909),
 (482, 0.05733298225836872),
 (483, 0.1371182340382122),
 (484, 0.074458079104994),
 (485, 0.0),
 (486, 0.14704292441876154),
 (487, 0.08489527199560176),
 (488, 0.019510570275964215),
 (489, 0.0),
 (490, 0.21029989116983447),
 (491, 0.0),
 (492, 0.0),
 (493, 0.0685591170191061),
 (494, 0.0),
 (495, 0.02702702702702703),
 (496, 0.08561170049453902),
 (497, 0.1487044791289829),
 (498, 0.08219949365267865),
 (499, 0.0),
 (500, 0.14019992744655632),
 (501, 0.03504998186163908),
 (502, 0.24609055357847553),
 (503, 0.11115400287534567),
 (504, 0.025367314471592052),
 (505, 0.10269923319261937),
 (506, 0.09320546490018),
 (507, 0.059053859535749265),
 (508, 0.10959932487023819),
 (509, 0.05723638070321425),
 (510, 0.02632490632463282),
 (511, 0.025367314471592052),
 (512, 0.0),
 (513, 0.05405405405405406),
 (514, 0.0),
 (515, 0.0),
 (516, 0.028194193721730043),
 (517, 0.0),
 (518, 0.050734628943184104),
 (519, 0.0),
 (520, 0.024239308278185982),
 (521, 0.0),
 (522, 0.0),
 (523, 0.023249527748763855),
 (524, 0.12683657235796025),
 (525, 0.09863939238321438),
 (526, 0.04901430813958719),
 (527, 0.022167554926073633),
 (528, 0.0685591170191061),
 (529, 0.08219949365267865),
 (530, 0.10810810810810811),
 (531, 0.07610194341477616),
 (532, 0.0685591170191061),
 (533, 0.0),
 (534, 0.2537477434955704),
 (535, 0.05405405405405406),
 (536, 0.08948747402853657),
 (537, 0.03958262466638396),
 (538, 0.08718572905786445),
 (539, 0.059053859535749265),
 (540, 0.027788500718836418),
 (541, 0.0644825880219161),
 (542, 0.08585457105482137),
 (543, 0.0),
 (544, 0.12119654139092992),
 (545, 0.027788500718836418),
 (546, 0.04355035563093422),
 (547, 0.0),
 (548, 0.03106848830006),
 (549, 0.0),
 (550, 0.04836194101643708),
 (551, 0.028194193721730043),
 (552, 0.1389425035941821),
 (553, 0.0),
 (554, 0.03163859985841663),
 (555, 0.04559607525875532),
 (556, 0.03587480016670876),
 (557, 0.0),
 (558, 0.02666903735313325),
 (559, 0.09672388203287416),
 (560, 0.04474373701426829),
 (561, 0.024239308278185982),
 (562, 0.03163859985841663),
 (563, 0.14097096860865022),
 (564, 0.023728949893812478),
 (565, 0.07352146220938077),
 (566, 0.02122381799890044),
 (567, 0.08419653359482288),
 (568, 0.02196873875818734),
 (569, 0.023980056885558418),
 (570, 0.055577001437672836),
 (571, 0.027788500718836418),
 (572, 0.1526406277181659),
 (573, 0.04697113923010208),
 (574, 0.12006004503753284),
 (575, 0.024507154069793594),
 (576, 0.15819299929208316),
 (577, 0.23485569615051038),
 (578, 0.050734628943184104),
 (579, 0.04956815970966097),
 (580, 0.0),
 (581, 0.04474373701426829),
 (582, 0.10146925788636821),
 (583, 0.028194193721730043),
 (584, 0.08284930213349333),
 (585, 0.03355780276070122),
 (586, 0.07521183158458504),
 (587, 0.025070610528195012),
 (588, 0.0),
 (589, 0.05405405405405406),
 (590, 0.12996881122750908),
 (591, 0.09299811099505542),
 (592, 0.056388387443460086),
 (593, 0.03874921291460643),
 (594, 0.03287979746107146),
 (595, 0.07045670884515312),
 (596, 0.03587480016670876),
 (597, 0.04393747751637468),
 (598, 0.055577001437672836),
 (599, 0.06711560552140244),
 (600, 0.0),
 (601, 0.0),
 (602, 0.06314740019611717),
 (603, 0.0),
 (604, 0.04604092555161308),
 (605, 0.05894831189188945),
 (606, 0.024239308278185982),
 (607, 0.06974858324629157),
 (608, 0.03771571432023571),
 (609, 0.058123819371909635),
 (610, 0.03224129401095805),
 (611, 0.0),
 (612, 0.0533380747062665),
 (613, 0.09592022754223367),
 (614, 0.0),
 (615, 0.0),
 (616, 0.06711560552140244),
 (617, 0.02196873875818734),
 (618, 0.0),
 (619, 0.1162476387438193),
 (620, 0.03106848830006),
 (621, 0.08458258116519013),
 (622, 0.11314714296070713),
 (623, 0.0),
 (624, 0.048478616556371965),
 (625, 0.024239308278185982),
 (626, 0.02632490632463282),
 (627, 0.07897471897389846),
 (628, 0.02348556961505104),
 (629, 0.08458258116519013),
 (630, 0.07352146220938079),
 (631, 0.027788500718836418),
 (632, 0.05134961659630968),
 (633, 0.03355780276070122),
 (634, 0.0),
 (635, 0.04956815970966097),
 (636, 0.0),
 (637, 0.0),
 (638, 0.10269923319261937),
 (639, 0.056388387443460086),
 (640, 0.04697113923010208),
 (641, 0.055577001437672836),
 (642, 0.05134961659630968),
 (643, 0.03106848830006),
 (644, 0.0),
 (645, 0.0),
 (646, 0.0),
 (647, 0.023980056885558418),
 (648, 0.11961783342433499),
 (649, 0.08710071126186844),
 (650, 0.02567480829815484),
 (651, 0.0),
 (652, 0.036309662106579856),
 (653, 0.051987524491003634),
 (654, 0.02632490632463282),
 (655, 0.10067340828210367),
 (656, 0.1643989873053573),
 (657, 0.0),
 (658, 0.0),
 (659, 0.06213697660012),
 (660, 0.07194017065667525),
 (661, 0.050734628943184104),
 (662, 0.0),
 (663, 0.0685591170191061),
 (664, 0.03504998186163908),
 (665, 0.01723369655646452),
 (666, 0.051987524491003634),
 (667, 0.055577001437672836),
 (668, 0.022167554926073633),
 (669, 0.07521183158458504),
 (670, 0.050141221056390024),
 (671, 0.03224129401095805),
 (672, 0.02702702702702703),
 (673, 0.0),
 (674, 0.08108108108108109),
 (675, 0.03355780276070122),
 (676, 0.02348556961505104),
 (677, 0.04901430813958719),
 (678, 0.0),
 (679, 0.036760731104690386),
 (680, 0.0),
 (681, 0.1144727614064285),
 (682, 0.04901430813958719),
 (683, 0.0),
 (684, 0.028618190351607124),
 (685, 0.09158437663089954),
 (686, 0.11742784807525519),
 (687, 0.0),
 (688, 0.022167554926073633),
 (689, 0.06711560552140244),
 (690, 0.0),
 (691, 0.0),
 (692, 0.02302046277580654),
 (693, 0.0),
 (694, 0.03001501125938321),
 (695, 0.06327719971683327),
 (696, 0.023728949893812478),
 (697, 0.02023611646290882),
 (698, 0.07194017065667525),
 (699, 0.024784079854830485),
 (700, 0.025367314471592052),
 (701, 0.0),
 (702, 0.024784079854830485),
 (703, 0.0),
 (704, 0.04355035563093422),
 (705, 0.0644825880219161),
 (706, 0.0),
 (707, 0.02666903735313325),
 (708, 0.0),
 (709, 0.10283867552865913),
 (710, 0.03427955850955305),
 (711, 0.0),
 (712, 0.04516387521771449),
 (713, 0.0),
 (714, 0.02666903735313325),
 (715, 0.03224129401095805),
 (716, 0.0),
 (717, 0.02567480829815484),
 (718, 0.025367314471592052),
 (719, 0.0),
 (720, 0.0),
 (721, 0.035455197425947084),
 (722, 0.07352146220938079),
 (723, 0.0),
 (724, 0.0162779253348253),
 (725, 0.0533380747062665),
 (726, 0.07702442489446452),
 (727, 0.04355035563093422),
 (728, 0.048478616556371965),
 (729, 0.048478616556371965),
 (730, 0.03163859985841663),
 (731, 0.07798128673650545),
 (732, 0.0),
 (733, 0.03771571432023571),
 (734, 0.1283740414907742),
 (735, 0.05723638070321425),
 (736, 0.03287979746107146),
 (737, 0.025367314471592052),
 (738, 0.06575959492214292),
 (739, 0.06105625108726635),
 (740, 0.08336550215650926),
 (741, 0.023249527748763855),
 (742, 0.03771571432023571),
 (743, 0.0),
 (744, 0.050141221056390024),
 (745, 0.036760731104690386),
 (746, 0.08108108108108109),
 (747, 0.028618190351607124),
 (748, 0.1316245316231641),
 (749, 0.06025359879550432),
 (750, 0.029526929767874632),
 (751, 0.02702702702702703),

In [122]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(534, 0.2537477434955704),
 (1176, 0.25112360116696136),
 (502, 0.24609055357847553),
 (1198, 0.24260844762468367),
 (258, 0.24012009007506568)]

In [123]:
# Creating a function which which will return the top 5 movies which nearest similar to the given data
def recommend(movie):
    movie_index = new_df[new_df["title"]==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[:6]
    
    for i in movies_list:
#         print(i[0])
        print(new_df.iloc[i[0]].title)

In [127]:
recommend("Avatar")

Avatar
Titan A.E.
Small Soldiers
Independence Day
Aliens vs Predator: Requiem
Ender's Game

In [128]:
recommend("Batman Begins")

Madagascar: Escape 2 Africa
Madagascar
Madagascar 3: Europe's Most Wanted
Happy Feet
Fantasia 2000
Back to the Future Part II

In [129]:
new_df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4803,67238,Cavite,"adam, a secur guard, travel from california to..."
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

# Next step is to convert this predicted data into website

Model building completed

In [84]:
import pickle

In [85]:
# pickle.dump(new_df,open("movies.pkl","wb"))#wb stands for write binary mode

In [86]:
# pickle.dump(new_df.to_dict(),open("movie_dict.pkl","wb"))#wb stands for write binary mode

In [87]:
# pickle.dump(similarity,open("similarity.pkl","wb"))